In [1]:
import pandas as pd

from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference

In [3]:
#read data
df = pd.read_excel('data.xlsx')

print(df.head())

   ID       Date   Speedometer  Distance  Litres purchased  litres per km  \
0  24 2020-12-15        241427     389.3             34.96        11.1356
1  23 2020-12-09        241038     419.8             35.05        11.9772
2   1 2020-12-03        240618     374.2             32.13            NaN
3   7 2020-11-30        240244     433.3             33.42        12.9653
4  10 2020-11-29        239810     403.0             32.80        12.2866

   Price per Litre              Garage  TotalCost
0          14.4600  Engen Killner Park     505.52
1          14.4593    Total StormvoÃ«l     506.80
2          14.4600    Sasol StormvoÃ«l     464.60
3          14.5898  Engen Killner Park     487.59
4          15.0000          Caltex DLY     492.00

In [9]:
# Testing pivot table

quartely_sales = pd.pivot_table(df, index = df['Garage'], values = 'TotalCost', aggfunc='sum')
print(quartely_sales.head())

                    TotalCost
Garage
Caltex DLY            1041.00
Engen Burgersfort      479.00
Engen Hatfield         296.75
Engen Killner Park    3239.07
Engen Mooirivier       232.41

In [14]:
#create excell workbook
file_path = "C:/Users/jandr/Desktop/data/Garage Sales.xlsx"
quartely_sales.to_excel(file_path, sheet_name = 'Garage Sales', startrow=3)

In [39]:
#loading workbook
wb = load_workbook(file_path)
sheet1 = wb['Garage Sales']

#format sheet
sheet1['A1'] = 'Garage sales'
sheet1['A2'] = 'Total sales for Garages'
sheet1['A3'] = 'Garage name'

sheet1['A1'].style = 'Title'
sheet1['A2'].style = 'Headline 2'

for i in  range(5,18):
    sheet1[f'B{i}'].style='Currency [0]'
    
#adding barchart
bar_chart = BarChart()
data = Reference(sheet1, min_col=2, max_col=13, min_row=4, max_row=18)
categories = Reference(sheet1, min_col=1, max_col=1, min_row=5, max_row=18)
bar_chart.add_data(data, titles_from_data=True)
bar_chart.set_categories(categories)
sheet1.add_chart(bar_chart, "F4")

bar_chart.title = 'Garage Sales'
bar_chart.style = 3
wb.save(filename = file_path)